<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hobby</key>
		<string>射日</string>
		<key>phone</key>
		<string>13J43QKKKAA</string>
		<key>name</key>
		<string>陈向翀</string>
		<key>age</key>
		<string>46</string>
		<key>address</key>
		<string>的黎波里</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>飙车</string>
		<key>phone</key>
		<string>18840867594</string>
		<key>address</key>
		<string>大连</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>安国立</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>篮球</string>
		<key>phone</key>
		<string>18842665611</string>
		<key>address</key>
		<string>丹东</string>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>高翔</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈望川</string>
		<key>age</key>
		<string>22</string>
		<key>address</key>
		<string>甘肃省甘谷县</string>
		<key>phone</key>
		<string>181049653**</string>
		<key>hobby</key>
		<string>music,basketball</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>无</string>
		<key>phone</key>
		<string>181****8686</string>
		<key>address</key>
		<string>铁岭</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>金冠同</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>套路</string>
		<key>phone</key>
		<string>18642866468</string>
		<key>address</key>
		<string>清原</string>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>李骞</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>LOL</string>
		<key>phone</key>
		<string>18603675397</string>
		<key>address</key>
		<string>软景E居</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>刘鹏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邓凯</string>
		<key>hobby</key>
		<string>reading</string>
		<key>age</key>
		<string>23</string>
		<key>address</key>
		<string>lanou</string>
		<key>phone</key>
		<string>944243843</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>有小情绪</string>
		<key>phone</key>
		<string>15124119228</string>
		<key>address</key>
		<string>辽宁鞍山</string>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>党昌盛</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>玩</string>
		<key>phone</key>
		<string>18346663084</string>
		<key>address</key>
		<string>黑龙江</string>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>唐立春</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>篮球</string>
		<key>phone</key>
		<string>15641113115</string>
		<key>address</key>
		<string>大连</string>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>李青霖</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘坦奇</string>
		<key>age</key>
		<string>23</string>
		<key>phone</key>
		<string>13029269187</string>
		<key>hobby</key>
		<string>篮球</string>
		<key>address</key>
		<string>锦州</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>茜茜</string>
		<key>phone</key>
		<string>13940896101</string>
		<key>address</key>
		<string>大连</string>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>王嘉怿</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>写代码</string>
		<key>phone</key>
		<string>18304232468</string>
		<key>address</key>
		<string>本溪</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>于瀚</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>无</string>
		<key>phone</key>
		<string>18844063108</string>
		<key>address</key>
		<string>吉林</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>孙佳豪</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>抢银行</string>
		<key>phone</key>
		<string>15142355177</string>
		<key>add</key>
		<string>长海县</string>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>于建勋</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>无</string>
		<key>phone</key>
		<string>183xxxxxx</string>
		<key>address</key>
		<string>池州市</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>殷明静</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>NO</string>
		<key>phone</key>
		<string>18342063993</string>
		<key>address</key>
		<string>大连</string>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>左丰恺</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高景旦</string>
		<key>phone</key>
		<string>65</string>
		<key>age</key>
		<string>18</string>
		<key>hobby</key>
		<string>computer</string>
		<key>address</key>
		<string>大连</string>
	</dict>
	<dict>
		<key>hobby</key>
		<string>玩</string>
		<key>phone</key>
		<string>15699516121</string>
		<key>address</key>
		<string>长春</string>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>郝莹</string>
	</dict>
</array>
</plist>
